body {
  margin:0;
  padding:0;
  background:#eee;
  font-family:sans-serif;
  background-color:#000;
  color:#fff;
}

.nav {
  width:100%;
  height:100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid #fff;
}

.logo {
  padding:10px;
  margin-left:20px;
  box-sizing:border-box;
  font-family: 'Girassol', cursive;
  font-size:15px;
  letter-spacing:8px;
}

.menu ul {
  display:flex;
  flex-direction:row;
  padding:20px;
  list-style-type:none;
}

.menu ul li {
  padding:20px;
  font-weight:700;
}

.menu ul li a {
  text-decoration:none;
  color:#fff;
}

.menu ul li:hover {
  background-color:#91c98b;
}

.jumbo {
  width:100%;
  height:100%;
  margin-top: 100px;
}

.headline {
  width:90%;
  height:100%;
  text-align:left;
  padding:50px;
  margin:0 auto;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  
}

.headline img {
  width:500px;
}

.headline .kanan {
  margin-left:50px;
  text-align:justify;
}

.album {
  width:100%;
  height:100%;
  margin-top: 100px;
  box-sizing:border-box;
}

.album h1 {
  text-transform:uppercase;
  text-align:center;
}

.album .isi {
  padding: 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.album .isi .gambar1 img {
  width:300px;
}

.album .isi .gambar1 a,
.album .isi .gambar2 a,
.album .isi .gambar3 a,
.album .isi .gambar4 a,
.album .isi .gambar5 a,
.album .isi .gambar6 a,
.album .isi .gambar7 a,
.album .isi .gambar8 a,
.album .isi .gambar9 a,
.album .isi .gambar10 a,
.album .isi .gambar11 a,
.album .isi .gambar12 a,
.album .isi .gambar13 a {
  text-decoration: none;
  color: #000;
}

.album .isi .gambar1 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar2 img {
  width:300px;
}

.album .isi .gambar2 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar3 img {
  width:300px;
}

.album .isi .gambar3 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar4 img {
  width:300px;
}

.album .isi .gambar4 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar5 img {
  width:300px;
}

.album .isi .gambar5 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar6 img {
  width:300px;
}

.album .isi .gambar6 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar7 img {
  width:300px;
}

.album .isi .gambar7 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar8 img {
  width:300px;
}

.album .isi .gambar8 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar9 img {
  width:300px;
}

.album .isi .gambar9 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar10 img {
  width:300px;
}

.album .isi .gambar10 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar11 img {
  width:300px;
}

.album .isi .gambar11 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar12 img {
  width:300px;
}

.album .isi .gambar12 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.album .isi .gambar13 img {
  width:300px;
}

.album .isi .gambar13 {
  width:300px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  padding:5px;
  margin:10px 20px;
}

.video {
  width:100%;
  height:100%;
  padding:20px;
  margin: 100px auto 0 auto;
  box-sizing:border-box;
  text-align: center;
}

.header {
  width: 30%;
  margin: 0 auto;
}

.header .garis {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: #8f1e20;
}

.video .isivideo {
  margin-top: 50px;
}

.tour {
  width:100%;
  height:100%;
  padding:20px;
  margin: 100px auto 0 auto;
  box-sizing:border-box;
  text-align: center;
}

.tour .tiket {
  width: 80%;
  margin: 0 auto;
}

.tour .tiket table tr td a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  background-color: #e2f2bb;
  box-sizing: border-box;
}

.tour .tiket table tr td a:hover {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.socialmedia {
  width:100%;
  height:100%;
  padding:20px;
  margin: 100px auto;
  box-sizing:border-box;
  text-align: center;
}

.socialmedia .link a {
  text-decoration: none;
}

.socialmedia .link a .fa {
  font-size: 80px;
  margin: 0 20px;
}

.socialmedia .link a .fa-youtube-play {
  color: #FF0000;
}

.socialmedia .link a .fa-instagram {
  color: #5B51D8;
}

.socialmedia .link a .fa-twitter {
  color: #1DA1F2;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #8f1e20;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}